.wrapper {
  display: flex;
  align-items: center;
}

.img {
  display: none;
}

.fullname,
.username,
.email,
.password {
  margin-bottom: 1.5rem;
}

.content {
  margin-bottom: 2rem;
}

.eventHandle {
  margin-bottom: 0.75rem;
}

.signin {
  color: var(--secondary);
  text-decoration: none;
}

@media (min-width: 1024px) {
  .img {
    display: block;
    margin-right: 6rem;
  }
}
