.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url('../../../assets/userFormbg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 130vh;
  padding: 3rem 1rem;
}

.img {
  display: none;
}

.fullname,
.username,
.email,
.password {
  margin-bottom: 1.5rem;
}

.content {
  margin-bottom: 2rem;
}

.eventHandle {
  margin-bottom: 0.75rem;
}

.signin {
  color: var(--secondary);
  text-decoration: none;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 7.5rem 2rem;
  }
}

@media (min-width: 1024px) {
  .img {
    display: block;
  }
  .wrapper {
    padding: 3rem 2rem;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    padding: 7.5rem;
  }
}
