.notiTop,
.notiBot {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  line-height: calc(24 / 14);
}

.notiBot {
  margin: 3rem 0;
}

.description {
  margin: 1.5rem 0;
}

.noti {
  margin-bottom: 1.5rem;
}
