.detail,
.owner,
.description {
  margin-top: 1.5rem;
}

.descrip {
  height: 12.25rem;
}

.detail {
  display: flex;
  align-items: center;
}

.type,
.points {
  width: 49%;
}

.type {
  margin-right: 0.875rem;
}

.description {
  position: relative;
  padding-top: 0.5rem;
}

.eye {
  position: absolute;
  top: 1%;
  right: 0;
  width: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--primary);
  border-radius: 0.875rem;
  padding: 0 0.5625rem;
  color: var(--primary);
  cursor: pointer;
}

.eye:hover {
  background-color: var(--primary);
  color: white;
}

.eye:hover .view {
  color: white;
}

.view {
  color: var(--primary);
  margin-left: 0.5625rem;
}
