.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.0625rem 1.1875rem;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  z-index: 2004;
}

.wrapper.top {
  background-color: transparent;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  margin-left: 0.4375rem;
  line-height: calc(36 / 24);
}

.link {
  display: none;
}

.menuIco {
  cursor: pointer;
}

.menuLink {
  position: absolute;
  background-color: #fff;
  padding: 1.125rem 1.5rem;
  box-shadow: 0 15px 27.1828px var(--shadow);
  border-radius: 0.875rem 0 0.875rem 0.875rem;
  width: fit-content;
  bottom: -100%;
  right: 5%;
  transform: translate(40%, -45%) scale(0);
  transition: all 0.2s;
  z-index: 2;
}

.show {
  transform: translate(0, 0) scale(1);
}

.wrapLink {
  text-decoration: none;
}

.menuLogin,
.menuSignup {
  color: #000;
  text-align: right;
  text-decoration: none;
  padding: 0.5rem 0.875rem;
}

.bar1,
.bar2,
.bar3 {
  width: 1.75rem;
  height: 0.1875rem;
  margin-bottom: 0.25rem;
  background-color: #fff;
}

@media (min-width: 768px) {
  .link {
    display: flex;
  }

  .menuIco {
    display: none;
  }

  .menuLink {
    display: none;
  }

  .login,
  .signup {
    text-decoration: none;
    color: #fff;
    padding: 0.625rem 1.5rem;
    border-radius: 0.625rem;
  }

  .login:hover,
  .signup:hover {
    color: #000;
  }

  .login.active,
  .signup.active {
    background-color: var(--primary);
    color: #fff;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 1.0625rem 2.1875rem;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    padding: 1.0625rem 7.6875rem;
  }
}
