.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 1rem;
}

.img {
  display: none;
}

.content {
  margin-bottom: 2rem;
}

.username {
  margin-bottom: 1.5rem;
}

.eventHandle {
  margin-bottom: 0.75rem;
}

.support {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.signup,
.forgot {
  color: var(--secondary);
  text-decoration: none;
}

@media (min-width: 768px) {
  .wrapper {
    margin: 7.5rem 2rem;
  }
}

@media (min-width: 1024px) {
  .img {
    display: block;
  }
  .wrapper {
    margin: 3rem 2rem;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    margin: 7.5rem;
  }
}
