.wrap {
  position: relative;
  max-width: 30rem;
  min-width: 21.25rem;
  background-color: #fff;
  border-radius: 1.5rem;
  padding: 1.5rem 1.125rem;
  animation: fadein 0.6s;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.head {
  text-align: center;
  margin-bottom: 2rem;
}

.error {
  background-color: var(--red);
  color: #fff;
  padding: 1rem 1.5rem;
  animation: popout 0.5s;
  overflow: hidden;
}

@keyframes popout {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
