.function {
  display: flex;
}

.search {
  width: 100%;
  height: 5rem;
}

.typeSort {
  margin: 0 1.5rem;
}

.head {
  border-bottom: 1px solid var(--default-lighter);
}

.headItem {
  padding: 1.6875rem 1.5rem;
}

.content {
  border-bottom: 1px solid var(--default-lighter);
}

.name,
.action,
.status,
.point,
.type {
  padding: 1.5rem;
  text-align: left;
}

.name {
  width: 60%;
}

.type {
  display: flex;
  align-items: center;
  margin: 0;
}

.typeText {
  margin-left: 0.625rem;
}

.action {
  display: flex;
  align-items: center;
  color: var(--default);
  padding-right: 0;
}

.edit {
  margin-right: 1.375rem;
}

.edit,
.time {
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.3rem;
  transition: all 0.1s ease-in;
}

.time.disabled,
.edit.disabled {
  opacity: 0.7;
  pointer-events: none;
  cursor: no-drop;
}

.edit:hover,
.time:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 1.25rem 0 var(--shadow);
}

.load {
  position: absolute;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
}

.notfound {
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
}

.notfoundimg {
  width: 150px;
  height: 150px;
}
