.detail,
.owner,
.description {
  margin-top: 1.5rem;
}

.descrip {
  height: 12.25rem;
}

.detail {
  display: flex;
  align-items: center;
}

.type,
.points {
  width: 49%;
}

.type {
  margin-right: 0.875rem;
}

.description {
  position: relative;
  padding-top: 0.5rem;
}

.ownerLabel {
  margin-bottom: 0.875rem;
}

.tagWrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.plus {
  position: relative;
  padding: 0.675rem 0.675rem;
  background-color: var(--default-light);
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.tag {
  margin-right: 0.5rem;
}

.tag,
.plus {
  margin-bottom: 0.5rem;
}
