.detail,
.owner,
.description {
  margin-top: 1.5rem;
}

.descrip {
  height: 12.25rem;
}

.detail {
  display: flex;
  align-items: center;
}

.type,
.points {
  width: 49%;
}

.type {
  margin-right: 0.875rem;
}

.description {
  position: relative;
  padding-top: 0.5rem;
}

.ownerLabel {
  margin-bottom: 0.875rem;
}

.plus {
  position: relative;
  padding: 0.675rem 0.675rem;
  background-color: var(--default-light);
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.list {
  position: absolute;
  top: 100%;
  left: 3%;
  right: 0;
  width: fit-content;
  min-width: 20rem;
  max-height: 18.75rem;
  overflow: hidden;
  overflow: auto;
  background-color: #fff;
  padding: 1.5rem 1rem;
  border: 1px solid var(--default-lighter);
  border-radius: 1rem;
  z-index: 2;
}

.tagWrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.tag {
  margin-right: 0.5rem;
}

.tag,
.plus {
  margin-bottom: 0.5rem;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
  cursor: pointer;
  border-bottom: 1px solid var(--default-lighter);
}

.listItem:last-child {
  border-bottom: none;
}

.listName {
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.listRole {
  margin-left: 2rem;
}

.listRole,
.listUsername {
  color: var(--default);
}

.searchMember {
  margin-bottom: 0.875rem;
}
