.wrapper {
  position: relative;
}

.content {
  padding: 0 1rem;
}

@media (min-width: 1024px) {
  .content {
    padding: 0 2rem;
  }
}

@media (min-width: 1440px) {
  .content {
    padding: 0 7.5rem;
  }
}
